[submodule "SWATHI K"]
	path = SWATHI K
	url = https://github.com/swathi-athi/portfolio
[submodule "FATHIMA NIDA THAJ T.P"]
	path = FATHIMA NIDA THAJ T.P
	url = https://github.com/NidaThaj/portfolio
[submodule "HUBAIB P"]
	path = HUBAIB P
	url = https://github.com/comet27/comet27.github.io
[submodule "VARUN VINAY"]
	path = VARUN VINAY
	url = https://github.com/varunvinay4u/portfolio1
[submodule "ABHISHEK S R"]
	path = ABHISHEK S R
	url = https://github.com/Abhishekreju2525/my-portfolio
[submodule "MOHAMMAD SAIFUDDIN"]
	path = MOHAMMAD SAIFUDDIN
	url = https://github.com/Sa3fu/Saifuddin
[submodule "SREEDEEP CV"]
	path = SREEDEEP CV
	url = https://github.com/rogueloop/portfolio
[submodule "RAHMATH SHAMNOONA H"]
	path = RAHMATH SHAMNOONA H
	url = https://github.com/Rahmathshamnoona/shamnoona
[submodule "PRAJITHA"]
	path = PRAJITHA
	url = https://github.com/prajitha-prakash/prajitha
[submodule "MUHAMMED SHAALAN C"]
	path = MUHAMMED SHAALAN C
	url = https://github.com/shalan000/portfolio
